<div class="consent-title">
    <center><h4>NREL OPENPATH PRIVACY POLICY/TERMS OF USE</h4></center>
    </div>
    <div class="consent-text">
    <h3>ຈຸດປະສົງຂອງການສຶກສາ</h3>
    <p>
    {{template_text.short_textual_description}}
    </p><p>
    ຊຸດການຈັດຂໍ້ມູນນີ້ ເປັນການລວບລວມຂໍ້ມູນ ຂອງທ່ານ ແລະ ໃຊ້ເພື່ອປະເມີນການເດີນທາງຂອງທ່ານ ແລະ 
    ປຽບທຽບກັບເປົ້າໝາຍການຫລຸດຜ່ອນການປ່ອຍຄາບອນ ແລະ ຍັງເປັນແບ່ງປັນຂໍ້ມູນ ການເດີນທາງ
    </p><p>
    NREL is a national laboratory of the U.S. Department of Energy, Office of
    Energy Efficiency and Renewable Energy, operated by Alliance for Sustainable
    Energy, LLC under Prime Contract No. DE-AC36-08GO28308. This Privacy Policy
    applies to the App provided by Alliance for Sustainable Energy, LLC. This App
    is provided solely for the purposes of collecting travel behavior data for the
    {{ui_config.intro.program_or_study}} and for research to inform public policy.
    None of the data collected by the App will never be sold or used for any
    commercial purposes, including advertising.
    </p><p>
    IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DELETE THE APP
    </p>
    
    <h3>Why we collect this information</h3>
    {{template_text.why_we_collect}}
    
    <h3>ການເກັບກຳຂໍ້ມູນ</h3>
    <p>
    ລະບົບ ຈະບໍ່ ເກັບກຳຂໍ້ມູນທີ່ສາມາດລະບຸຕົວຕົນໄດ້ແບບດັ້ງເດີມ (ເຊັ່ນ: ບໍ່ມີຊື່, ອີເມວ ຫຼືເບີໂທລະສັບ)
    </p><p>
    ລະບົບນີ້ຈະນໍາໃຊ້ ເພື່ອເປັນການເກັບກໍາຂໍ້ມູນໃນການຕິດຕາມ ການເດີນທາງ ເພື່ອໃຫ້ເຂົ້າເຖີງຮູບແບບການເດີນທາງຂອງການນໍາໃຊ້ພາຫະນະ.
    </p><p>
    It will also ask you to periodically annotate these sensed trips with semantic
    labels, such as the trip mode, purpose, and replaced mode.
    </p><p>
    It will also request sociodemographic information such as your approximate age,
    gender, and household type. The sociodemographic factors can be used to
    understand the influence of lifestyle on travel behavior, as well as generalize
    the results to a broader population.
    </p><p>
    For the greatest transparency, the App is based on an open source platform,
    NREL’s OpenPATH. you can inspect the data that OpenPATH collects in the background at
    <a
    href="https://github.com/e-mission/e-mission-data-collection.git">https://github.com/e-mission/e-mission-data-collection.git</a>,
    the analysis pipeline at <a
    href="https://github.com/e-mission/e-mission-server.git">https://github.com/e-mission/e-mission-server.git</a>
    and the dashboard metrics at <a
    href="https://github.com/e-mission/em-public-dashboard.git">https://github.com/e-mission/em-public-dashboard.git</a>
    </p>
    
    <h3>How we associate information with you</h3>
    <div ng-if="!ui_config.opcode.autogen">
    ເຂົ້າສູ່ລະບົບ ທີ່ບໍ່ເປີດເຜີຍຊື່ (ລະຫັດ OP) ໂທເກນທີ່ສ້າງຂຶ້ນແບບສຸ່ມເປັນເອກະລັກ (ລະຫັດ OP) ນີ້ແມ່ນຕົວລະບຸຂອງທ່ານໃນລະບົບ. ບໍ່ມີໃຜນອກເໜືອໄປຈາກເຈົ້າຮູ້ວ່າເຈົ້າກ່ຽວຂ້ອງກັບ (ລະຫັດ OP)  ນີ້. ຖ້າທ່ານຕ້ອງການຕິດຕໍ່ສື່ສານກັບທີມງານຄົ້ນ ຄ້ວາກ່ຽວກັບຂໍ້ມູນທີ່ເກັບກໍາກ່ຽວກັບທ່ານ, ກະລຸນາກຽມພ້ອມທີ່ຈະສະຫນອງ (ລະຫັດ OP)  ນີ້.
    </div>
    <div ng-if="ui_config.opcode.autogen">
        ໂທເຄັນທີ່ສ້າງຂຶ້ນແບບສຸ່ມຂ້າງເທິງ, ເລີ່ມຕົ້ນດ້ວຍ <code>nrelop_</code>, ຖືກນໍາໃຊ້ເພື່ອເຂົ້າສູ່ລະບົບ. 
        ບັນທຶກ token ຂອງທ່ານໃນກໍລະນີທີ່ທ່ານເສຍ ຫຼືປ່ຽນໂທລະສັບ. ຖ້າທ່ານສູນເສຍ token ຂອງທ່ານ, NREL 
        ບໍ່ສາມາດດຶງມັນມາໃຫ້ທ່ານໄດ້. ເນື່ອງຈາກພວກເຮົາບໍ່ມີຄວາມສາມາດໃນການຈັບຄູ່ token ກັບຜູ້ໃຊ້ແຕ່ລະຄົນ.
        OPcode ແມ່ນໂທເຄັນທີ່ສ້າງຂຶ້ນແບບສຸ່ມ. ບັນທຶກລະຫັດ (token) ຂອງທ່ານໃນກໍລະນີທີ່ທ່ານເຮັດເສຍ ຫຼື ປ່ຽນໂທລະສັບ. 
        ຖ້າທ່ານເຮັດໂທເຄັນຂອງທ່ານເສຍ, ກະລຸນາຕິດຕໍ່ຜູ້ຮັບຜິດຊອບໂຄງການຂອງທ່ານເພື່ອຂໍຄວາມຊ່ວຍເຫຼືອ. NREL 
        ບໍ່ສາມາດດຶງມັນມາໃຫ້ທ່ານໄດ້ ເນື່ອງຈາກພວກເຮົາບໍ່ມີ. ຄວາມສາມາດໃນການຈັບຄູ່ token ກັບຜູ້ໃຊ້ສ່ວນບຸກຄົນ.
    </div>
    
    <h3>ຄວາມເປັນສ່ວນຕົວຂອງຂໍ້ມູນ ແລະຄວາມປອດໄພ</h3>
    <p>
    Aggregate metrics derived from the travel patterns will be made available on a public dashboard to provide transparency into the impact of the program. These metrics will focus on information summaries such as counts, distances and durations, and will not display individual travel locations or times.
    </p><p>
    ຂໍ້ມູນດິບຈາກການສຶກສານີ້ຈະມີໃຫ້ພຽງແຕ່:
    <ul>
        <li> 🧑 ຜູ້ບໍລິຫານໂຄງການຈາກ {{ui_config.intro.deployment_partner_name}} to {{template_text.raw_data_use}}, and
        <li> 💻 ຜູ້ພັດທະນາ NREL OpenPATH ສຳລັບການດີບັກ.
    </ul>
    </p><p>
        ຂໍ້ມູນທີ່ເກັບກຳໄດ້ຈະຖືກເກັບໄວ້ໃນກຸ່ມຂະໜາດກາງທີ່ຮັບຮອງຈາກ FEDRAMP ຢູ່ທີ່ NREL ແລະເຂົ້າລະຫັດທັງໃນການຜ່ານແດນ 
        ແລະໃນທີ່ເຫຼືອ. ຂໍ້ມູນຈາກການສຶກສານີ້ຈະຖືກເກັບໄວ້ແຍກຕ່າງຫາກຈາກຂໍ້ມູນການສຶກສາອື່ນໆໂດຍການນໍາໃຊ້ OpenPATH ເວີຊັນ 
        NREL-hosted. ເວທີ <a href="https://nrel.gov/tsdc">on the
    website</a> and in <a href="http://www.sciencedirect.com/science/article/pii/S2352146515002999">this publication</a> and <a href="https://www.nrel.gov/docs/fy18osti/70723.pdf">fact sheet</a>.
    </p>
    
    <h3>Your rights</h3>
    <p>
    <div ng-if="ui_config.intro.app_required">
    You are required to track your travel patterns using the App as a condition of
    participation in the Program. If you wish to withdraw from the Program, you
    should contact the program administrator,
    {{ui_config.intro.program_admin_contact}}  to discuss termination options. If you
    wish to stay in the program but not use the app, please contact your program
    administrator to negotiate an alternative data collection procedure before
    uninstalling the app. If you uninstall the app without approval from the
    program administrator, you may not have access to the benefits provided by the
    program.
    </div>
    <div ng-if="!ui_config.intro.app_required">
    Participation in the {{ui_config.intro.program_or_study}} is completely
    voluntary. You have the right to decline to participate or to withdraw at any
    point in the Study without providing notice to NREL or the point of contact. If
    you do not wish to participate in the Study or to discontinue your
    participation in the Study, please delete the App.
    </div>
    </p><p>
    If you would like to have your data destroyed, please contact K. Shankari
    (<a href="mailto:k.shankari@nrel.gov">k.shankari@nrel.gov</a>) requesting deletion.
    You must include your token in the request for deletion. Because we do not
    connect your identity with your token, we cannot delete your information
    without obtaining the token as part of the deletion request. We will then
    destroy all data associated with that deletion request, both in the online and
    archived datasets.
    </p>
    
    <h3>Questions</h3>
    If you have any questions about the data collection goals and results, please
    contact the primary point of contact for the study,
    {{ui_config.intro.program_admin_contact}}. If you have any technical questions
    about app operation, please contact NREL’s K. Shankari (k.shankari@nrel.gov).
    
    
    <h3>ຂ້ອຍຍອມຮັບ</h3>
    Please select the button below to indicate that you have read and agree to this
    Privacy Policy, consent to the collection of your information, and want to
    participate in the {{ui_config.intro.program_or_study}}.
    </div>
    