<ion-content>
<div class="consent-title">
<center><h2>Permisos </h2></center>
</div>
<div class="consent-text">
Ahora le pediremos permisos para acceder a los siguientes sensores.

<h3> Ubicación </h3>
Necesitamos este permiso para rastrear su ubicación y compararla con
nuestra base de datos colaborativa de individuos sintomáticos. Ya que está ejecutando
{{platform}} {{osver}}, cuando se le solicite, {{locationPermExplanation}}.

<div ng-if="platform.toLowerCase() == 'ios'">
<h3> Notificaciones </h3>
Necesitamos este permiso para indicarle su modo de viaje y su propósito.
Por favor, permítalo.

<h3> Movimiento y condición física </h3>
Necesitamos este permiso para separar las partes del viaje multimodal
tales como el tránsito. Por favor, permítalo.
</div>

<div ng-if="backgroundRestricted">
<h3> Permitir restricciones en segundo plano </h3>
Su teléfono restringe el funcionamiento de la aplicación en segundo plano. Esto evita que la aplicación
rastree su ubicación o la suba al servidor. Por favor, habilite
la operación en segundo plano de esta aplicación con las siguientes instrucciones:
{{allowBackgroundRestrictions}}.
</div>

<div class="row" style="margin-top: 20px;" translate-namespace="consent">
  <div class="col" style="margin-right: 5px">
      <button class="button button-block button-assertive button-outline" ng-click="disagree()" id="consent-button"><span translate>{{'.button-decline'}}</span></button>
  </div>
  <div class="col" style="margin-left: 5px">
      <button class="button button-block button-positive button-outline" ng-click="agree()" id="consent-button"><span translate>{{'.button-accept'}}</span></button>
  </div>
</div>
</div>
<div class="consent-space"></div>


</ion-content>
